{% extends 'base.html' %} {% set active_page = "index" %} {% block content %}
<h4>{% block title %} Latest Posts {% endblock %}</h4>

<div class="container">
  <div class="row">
      {% for post in posts %}
      <div class="col-4">
        <div class="card mb-4" style="height: 300px">
          <div class="card-header">
            <a href="/post/{{ post[0] }}">{{ post[1] }}</a><br />
            <em>by {{ post[2] }} on {{ post[3] }}</em>
          </div>
          <div class="card-body" style="height: auto; background: no-repeat center url('https://picsum.photos/600/600/?random={{ post[0] }}');">

          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <p>Posts are pulled and collated from the following repositories:</p>
  <ul class="repolist">
    {% for repo in repos %}
    <li>{{ repo[0] }} - <a href="{{ repo[2] }}">{{ repo[1] }}</a></li>
    {% endfor %}
  </ul>
  {% endblock %}
  </div>
</div>
