{% extends 'base.html' %} {% set active_page = "index" %} {% block content %}
<h4>{% block title %} Latest Posts {% endblock %}</h4>
{% for post in posts %}
<div class="card mb-4">
  <div class="card-body">
    <a href="/post/{{ post[0] }}">{{ post[1] }}</a><br />
    <em>by {{ post[2] }} on {{ post[3] }}</em>
  </div>
</div>
{% endfor %}

<p>Posts are pulled and collated from the following repositories:</p>
<ul class="repolist">
  {% for repo in repos %}
  <li>{{ repo[0] }} - <a href="{{ repo[2] }}">{{ repo[1] }}</a></li>
  {% endfor %}
</ul>

{% endblock %}
